@import "tailwindcss";

@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px #FAFAFA inset !important;
        -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
        -webkit-transition-delay: 9999s;
        caret-color: #000000;
    }

    input:-webkit-autofill {
        -webkit-text-fill-color: inherit !important;
    }
}

@layer utilities {
    .tw_h1 {
        line-height: var(--mui-tokens-lineHeight-h1);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-h1);
        font-family: var(--mui-tokens-fontFamily-headings);
    }

    .tw_h2 {
        line-height: var(--mui-tokens-lineHeight-h2);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-h2);
        font-family: var(--mui-tokens-fontFamily-headings);
    }

    .tw_h3 {
        line-height: var(--mui-tokens-lineHeight-h3);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-h3);
        font-family: var(--mui-tokens-fontFamily-headings);
    }

    .tw_h4 {
        line-height: var(--mui-tokens-lineHeight-h4);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-h4);
        font-family: var(--mui-tokens-fontFamily-headings);
    }

    .tw_h5 {
        line-height: var(--mui-tokens-lineHeight-h5);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-h5);
        font-family: var(--mui-tokens-fontFamily-headings);
    }

    .tw_h6 {
        line-height: var(--mui-tokens-lineHeight-h6);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-h6);
        font-family: var(--mui-tokens-fontFamily-headings);
    }

    .tw_body_large {
        line-height: var(--mui-tokens-lineHeight-lg);
        font-weight: var(--mui-tokens-fontWeight-normal);
        font-size: var(--mui-tokens-fontSize-lg);
        font-family: var(--mui-tokens-fontFamily-body);
    }

    .tw_body_large_bold {
        line-height: var(--mui-tokens-lineHeight-lg);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-lg);
        font-family: var(--mui-tokens-fontFamily-body);
    }

    .tw_body_medium {
        line-height: var(--mui-tokens-lineHeight-md);
        font-weight: var(--mui-tokens-fontWeight-normal);
        font-size: var(--mui-tokens-fontSize-md);
        font-family: var(--mui-tokens-fontFamily-body);
    }

    .tw_body_medium_bold {
        line-height: var(--mui-tokens-lineHeight-md);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-md);
        font-family: var(--mui-tokens-fontFamily-body);
    }

    .tw_body_normal {
        line-height: var(--mui-tokens-lineHeight-nm);
        font-weight: var(--mui-tokens-fontWeight-normal);
        font-size: var(--mui-tokens-fontSize-nm);
        font-family: var(--mui-tokens-fontFamily-body);
    }

    .tw_body_normal_bold {
        line-height: var(--mui-tokens-lineHeight-nm);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-nm);
        font-family: var(--mui-tokens-fontFamily-body);
    }

    .tw_body_small {
        line-height: var(--mui-tokens-lineHeight-sm);
        font-weight: var(--mui-tokens-fontWeight-normal);
        font-size: var(--mui-tokens-fontSize-sm);
        font-family: var(--mui-tokens-fontFamily-body);
    }

    .tw_body_small_bold {
        line-height: var(--mui-tokens-lineHeight-sm);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-sm);
        font-family: var(--mui-tokens-fontFamily-body);
    }

    .tw_body_extra-small {
        line-height: var(--mui-tokens-lineHeight-xs);
        font-weight: var(--mui-tokens-fontWeight-normal);
        font-size: var(--mui-tokens-fontSize-xs);
        font-family: var(--mui-tokens-fontFamily-body);
    }

    .tw_body_extra-small_bold {
        line-height: var(--mui-tokens-lineHeight-xs);
        font-weight: var(--mui-tokens-fontWeight-bold);
        font-size: var(--mui-tokens-fontSize-xs);
        font-family: var(--mui-tokens-fontFamily-body);
    }
}

/* AG GRID TABLE */
.ag-theme-quartz {
    --ag-header-height: 1.75rem;
    --ag-row-border-width: 0;
    --ag-row-height: 4.8125rem;
}

.ag-root-wrapper.ag-ltr.ag-layout-normal {
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.ag-header {
    border-radius: var(--mui-tokens-spacing-2);
    border: none;
}

.ag-header-cell {
    color: var(--mui-palette-grey-400);
    font-size: var(--mui-tokens-font-size-sm);
    font-weight: var(--mui-tokens-fontWeight-bold);
    padding-left: var(--mui-tokens-spacing-4);
    padding-right: var(--mui-tokens-spacing-4);
    text-transform: var(--table-header-transform, normal);
}

.ag-header-row {
    background-color: var(--mui-palette-grey-50);
}

.ag-ltr .ag-sort-indicator-icon {
    padding-left: var(--mui-tokens-spacing-5);
}

.ag-row:not(.ag-floating-bottom-container .ag-row) .ag-cell {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: flex-start;
    padding-left: var(--mui-tokens-spacing-4);
    padding-right: var(--mui-tokens-spacing-4);
}

.ag-row {
    background-color: transparent;
    border: none;
    pointer-events: none;
}

.ag-row .ag-cell {
    pointer-events: auto;
}

.ag-row-selected::before,
.ag-row::before {
    background-color: transparent;
    border-radius: var(--mui-tokens-spacing-2);
    content: '';
    height: 4rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.ag-row:hover::before {
    background-color: var(--mui-palette-grey-100);
}

.ag-row:active::before,
.ag-row.ag-row-selected::before {
    background-color: var(--mui-tokens-color-brand-50);
}

.ag-row:not(.ag-floating-bottom-container .ag-row)::after {
    border-radius: var(--mui-tokens-radius-full);
    border-top: 1px solid var(--mui-palette-grey-300);
    bottom: 7px;
    content: '';
    height: 0;
    left: var(--mui-tokens-spacing-4);
    pointer-events: none;
    position: absolute;
    right: var(--mui-tokens-spacing-4);
}

.ag-floating-bottom,
.ag-floating-bottom-container {
    border: none;
    height: 20px !important;
    padding: 0 !important;
    min-height: auto !important;
}

.ag-floating-bottom-container .ag-cell {
    height: 20px !important;
    padding-left: 12px;
    padding-right: 12px;
}

.disable_sort_interaction .ag-header-cell-label {
    pointer-events: none;
    opacity: 0.6; /* Optional: gives it a "disabled" look */
}